# ==========================
# Environment Files
# ==========================
.env
*.env

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build Files
# ==========================
dist/
build/

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/